<div class="center-container">
    <%# link to login as host %>
    <div class="clippy-host">
        <h1 class="h1-span"><a href="/login/hosts">login as host</a></h1>
    </div>

    <div>
        <h1> / </h1>
    </div>

    <div class="clippy-muso">
    <%# link to login as muso %>
        <h1 class="h1-span"><a href="/login/musos">login as muso</a></h1>
    </div>

</div>