<div class="force-height">
    <%# link to login as host %>
    <h2><a href="/hosts/new">sign-up as host</a></h2>

    <%# link to login as muso %>
    <h2><a href="/musos/new">sign-up as muso</a></h2>
</div>