<div class="center-container">
    <%# link to login as host %>
    <div class="clippy-host">
        <h1 class="h1-span"><a href="/hosts/new">sign-up as host</a></h1>
    </div>

    <div>
        <h1> / </h1>
    </div>
    
    <%# link to login as muso %>
    <div class="clippy-muso">
        <h1 class="h1-span"><a href="/musos/new">sign-up as muso</a></h1>
    </div>
</div>