

<div class="box-container">
  <%= form_tag '/jobs', method:'post' do%>
    <span>Title</span>
    <input class="input-box" type="text" name="job[title]">
    <span>Location</span>
    <input class="input-box" type="text" name="job[location]">
    <span>Budget</span>
    <input class="input-box" type="number" name="job[budget]">
    <span>Select Date</span>
    <input class="input-box" type="datetime-local" name="job[date_time]">
    <span>Write a description</span>
    <input class="input-box" type="text" name="job[description]">
    <span>How long is the Gig?</span>
    <input class="input-box" type="text" name="job[duration]">
    <button class="submit-btn">Post Job</button>
  <% end %>
</div>
