<h2>Sign up to be a host</h2>

<% @host.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
<% end %>

<%= form_tag "/hosts", method: "post" do %>

    <label for="host[name]">Name</label>
    <input type="text" name="host[name]">

    <label for="host[email]">Email</label>
    <input type="email" name="host[email]">

    <label for="host[password]">Password</label>
    <input type="password" name="host[password]" >

    <button>Join up!</button>
<% end %>