
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The Social Fretwork</h1>
    <h3>Hi <%= @job_app.muso.name %></h3>
    <p>
      Guess what!!! <%= @job.host.name %> wants you to play for them!
      Log onto social-fretwork.com to view the application
    </p>
  </body>
</html>