
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>The Social Fretwork</h1>
    <h3>Hi <%= @job_app.muso.name %></h3>
    <p>
      Guess what!!! <%= @job.host.name %> has marked your job as complete and payment is on it's way.
    </p>
  </body>
</html>