<div class="gallery js-flickity"
  data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div>
