
<div class="home-img">
  <img src="/uploads/muso/backgrounds/micphotot.jpeg" alt="" srcset="">
</div>


<h2>Featured Artists</h2>

<div class="gallery js-flickity"
  data-flickity-options='{ "freeScroll": true, "wrapAround": true }'>
  <% @musos.each do |muso| %>
    <a href="/musos/<%= muso.id %>">
      <div class="tile" style="background-image: url(<%= muso.avatar.url(:view) %>);">
        <div class="text">
          <h2 class="h2-tile"><%= muso.name %></h2>
          <p><%= muso.location %></p>
        </div>
      </div>
    </a>
  <% end %>
</div>