
  <%= form_tag "/muso_embeds", method: "post" do %>
    <label for="">Embed media URL</label>
    <input class="input-box" type="text" name="url">
    <button class="save-tag-btn">Add media</button>
  <% end %>

