<div class="review-header">
    <div>
        <p>2 Reviews <span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>

    </div>
    <div>
        <p>Sort?</p>
    </div>
</div>

<div class="review-box">
    <div class="host-avatar">
    
    </div>
    <div class="review-deets">
        <div class="review-title">
            <p>Melinda (host name)<span>&#9733;&#9733;&#9733;&#9733;&#9733;</span></p>
        </div>
        <div>
            <p>review content here bla bla bla</p>
            <small>timestamp</small>
        </div>
    </div>
</div>

<%# Need to add a button to leave review if muso has completed a job / event for the host %>
