<h1>Edit profile</h1>

<div class="force-height">
    <div class="box-container">
        <div class="edit-nav">
            <ul>
                <li id="info">info</li>
                <li class="li-inline"> / </li>
                <li id="tags">tags</li>
                <li class="li-inline"> / </li>
                <li id="embed">multimedia</li>
            </ul>
        </div>
        
        <div id="render-target">
            <%= render "musos/partials/edit_info" %>
        </div>
        
    </div>
</div>



<script>
    var renderTarget = document.querySelector('#render-target')
    
    document.querySelector('#info').addEventListener('click', function(event){
        
        renderTarget.innerHTML = `<%= render "musos/partials/edit_info" %>`
        // event.target.classList.add('highlight-this')
    })

    document.querySelector('#tags').addEventListener('click', function(event){
        
        renderTarget.innerHTML = `<%= render "musos/partials/tags" %>`
        // event.target.classList.add('highlight-this')
    })

    document.querySelector('#embed').addEventListener('click', function(event){
        
        renderTarget.innerHTML = `<%= render "musos/partials/add_embed" %>`
        // event.target.classList.add('highlight-this')
    })
    

</script>



