<h1>Edit profile</h1>

<div class="force-height">
    <div class="box-container">
        <div class="edit-nav">
            <ul>
                <li><a href="">edit info</a></li>
                <li><a href="musos/partials/tags">edit tags</a></li>
                <li><a href="musos/partials/add_embed">edit multimedia</a></li>
            </ul>
        </div>
        
        
        <%= render "musos/partials/edit_info" %>

        
    </div>
</div>


<%= render "musos/partials/tags" %>
<%= render "musos/partials/add_embed" %>
        





    