
<div class="musos-list">

    <div class="wrap">
        <div class="page-title-container">
            <h2>Our Musos</h2>
        </div>
        <% @musos.each do |muso| %>
            <div class="tile">
                <div class="text">
                    <h2><%= muso.name %></h2>
                    <p><%= muso.location %></p>
                    <p><%= link_to "show" , muso_path(muso.id) %></p>
                </div>
            </div>
        <% end %>


    </div>
</div>