
<div class="musos-list">
        <div class="page-title-container">
            <div class="filler1"><h1 class="h1-muso">Our Musos</h1></div>
            <div class="filler"></div>
            <div class="filler"></div>
        </div>

    <div class="wrap">

        <% @musos.each do |muso| %>
            <div class="tile">
                <div class="text">
                    <h2><%= muso.name %></h2>
                    <p><%= muso.location %></p>
                    <p><%= link_to "show" , muso_path(muso.id) %></p>
                </div>
            </div>
        <% end %>


    </div>
</div>