<h2>Sign up to be a muso</h2>

<% @muso.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
<% end %>

<%= form_tag "/musos", method: "post" do %>

    <label for="muso[name]">Name</label>
    <input type="text" name="muso[name]">

    <label for="muso[email]">Email</label>
    <input type="email" name="muso[email]">

    <label for="muso[password]">Password</label>
    <input type="password" name="muso[password]" >

    <label for="muso[bio]">Bio</label>
    <textarea name="muso[bio]"></textarea>

    <label for="muso[location]">Location</label>
    <input type="text" name="muso[location]">

    <button>Join up!</button>
<% end %>