<div class="force-height">
    <div class="login-title">
        <h2>Sign up to be a Muso</h2>
    </div>
    <div class="box-container">
        <% @muso.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
        <% end %>

        <%= form_tag "/musos", method: "post" do %>

            <label for="muso[name]">name</label>
            <input class="input-box" type="text" name="muso[name]">

            <label for="muso[email]">email</label>
            <input class="input-box" type="email" name="muso[email]">

            <label for="muso[password]">password</label>
            <input class="input-box" type="password" name="muso[password]" >

            <label for="muso[bio]">bio</label>
            <textarea class="input-box" name="muso[bio]"></textarea>

            <label for="muso[location]">location</label>
            <input class="input-box" type="text" name="muso[location]">

            <button class="submit-btn">Join up!</button>
        <% end %>
    </div>
</div>