  
<div class="current-app-columns">
  <div class="current-applications">
    <span>Successful Applicant</span>
    <div class="muso-app">
      <img src= "<%= @job.job_application.muso.avatar.url(:thumb)%>">
      <%= @job.job_application.muso.name %>
    </div>
  </div>
</div> 