<div class="mark-complete">
  <% if current_host == @job.host %>
    <%= form_tag "/jobs/#{@job.id}/completed", method: 'put' do %>
    <button>Mark as complete</button>
    <% end %>
  <% end %>
</div>