<div class="mark-complete">
  <%  if @job.complete == true %>
    <div class="completed">Completed<i class="fas fa-check"></i></div>
  <% else %>
    <%= form_tag "/jobs/#{@job.id}/completed", method: 'put' do %>
    <button>Mark complete</button>
    <% end %>
  <% end %>
</div>