  <div class="apply">
  <% if logged_in? && current_muso %>
    <%= form_tag '/job_applications', method: 'post' do%>
    <input type="hidden" name="job_id" value="<%= @job.id%>">
    <button>Apply</button>
    <% end %>
  <% end %>
  </div>