
<% if !!@job.job_applications.find_by(muso_id: current_muso.id) %>
<% current_app = @job.job_applications.find_by(muso_id: current_muso.id) %>
<div class="muso-retract-application">
  <span>Withdraw</span>
  <%= form_tag "/job_applications/#{@job.id}", method: 'delete' do %>
    <input type="hidden" name="job_application_id" value="<%=current_app.id%>">
    <button><i class="fas fa-times"></i></button>
  <% end %>
</div>
<% end %>