  <ul>
    <li><a href='/jobs'>All</a></li>
    <li><a href='/muso/jobs'>My Jobs</a></li>
    <li><a href='/muso/jobs/applied'>Applied for and pending</a></li>
    <li><a href='/muso/jobs/past'>My Completed Jobs</a></li>
  </ul>