body {
  background-image: url(/uploads/muso/backgrounds/micphotot.jpeg)
}

img {
  width: 100%;
  height: 15em;
  margin-right: 10px;
  counter-increment: gallery-cell;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.gallery {
  background: rgba(238, 238, 238, 0);
}

h2 {
  margin-left: 2em;
  margin-bottom: 2em;
}

.h2-tile {
  margin-left: 0;
  font-size: 1em;
}

.home-img {
  display: flex;
  width: 20em;
  height: 40em;
}

