.home {
  background-image: url(/uploads/muso/backgrounds/micphotot.jpeg);
  // only apply the style on a specific page
  // add class to be specific and add in on the erb. 
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

img {
  width: 100%;
  margin-right: 10px;
  counter-increment: gallery-cell;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.gallery {
  background: rgba(238, 238, 238, 0);
}

.h1-home {
  font-size: 2.5em;
  margin: 0.5em;
  margin-left: 0.6em;
}

.h2-home {
  margin-left: 1em;
  margin-top: 9em;
}

.h2-tile {
  margin-left: 0;
  font-size: 1em;
}

.home-img {
  display: flex;
  width: 20em;
  height: 20em;
}

.searchform-container {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0;
  margin-bottom: 10em;
} 

// .search-bar-wrapper {
//   // display: inline;
//   // background-color: white;
// }

.search-bar {
  height: 4em;
  margin-bottom: 3em;
  margin-top: 1em;  
  // border: 2px solid white;
  // display: flex;
  // justify-content: center;

}

.search-btn {
  background-color: rgba(128, 128, 128, 0);
  font-size: 2em;
  border: none;
}

.input-search {
  height: 2em;
  width: 10em;
  font-size: 1.4em;
  background-color: rgba(255, 255, 255, 0.514);
  color: black;
  border: 2px solid white;;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.input-search:focus {
  border: 2px solid white;
}

.fas-fa-search {
  color: black;
}
