

.box-container {
    width: 75%;
    margin: 30px auto;
    padding: 40px 20px 60px 20px;
    // border: 3px solid white;
    // background-color: rgba(35, 35, 58, 0.6);
    color: whitesmoke;
    // box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    text-align: center;
    font-size: 1.3em;
}

.input-box {
    width: 200px;
    height: 30px;
    // border: none;
    border: 2px solid #FFE74C;
    display: block;
    margin: 10px auto 20px auto;
    padding: 10px;
    font-size: .8em;
    background-color: #F8FFE5;
}

.form-label {
    margin-top: 10px;
    // padding: 20px;
}

.login-title {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.h1-login {
    margin: 0;
    margin-top: 20px;
}

.force-height {
    min-height: 80vh;
}

.submit-btn, .delete-btn {
    border: none;
    // background-color: #5DA9E9;
    background-color: #0072BB;
    // background-color: #003F91;
    width: 160px;
    height: 50px;
    // color: $color5;
    // color: #141414;
    color: whitesmoke;
    margin-top: 25px;
    font-size: 1em;
}

.delete-btn {
    background-color: salmon;
}
