




.logo {
  position: relative;
  background-color: white;
}

.upper-fret {
  position: absolute;
  border: 1px solid blue;
  text-align: center
}

.lower-fret {
  position: absolute;
  border: 1px solid red;
  text-align: center
}


