@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
// @import 'hover-miranda'

$color1: #6C6C8B;
$color2: #A9799C;
$color3: #F0D8D4;
$color4: #A3403D;
$color5: #3C2D84;


// fonts

$body-font: 'Raleway', sans-serif;
$body-font-size: 0.8em;
$heading-font-size: 2.2em;

body {
    background-image: url('/diagmonds.png');
    // background-size: cover;
    border-image-repeat: stretch;
    // background-color: blue;
    font-family: $body-font;
    display: flex;
    flex-direction: column;
    color: white;
}

.content {
    flex: 1 0 auto;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    // background-color: rgba($color: rgb(23, 16, 56), $alpha: 0);
    padding: 20px;
    font-size: 1.5em;
    // mix-blend-mode: multiply;
    // color: whitesmoke;
    color: #141414;
    background-color: #FFE74C;
    // mix-blend-mode: difference;
}

li {
    list-style: none;
    margin: 10px;
}

// nav {
//     mix-blend-mode: multiply;
//     background-color: #FFE74C;
// }

.left-nav {
    width: 30%;
    height: 117px;
    display: flex;
    align-items: center;
}

.home-nav {
    width: 30%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.right-nav {
    width: 30%;
    height: 117px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}



.user-stuff {
    display: inline-block;
    text-align: center;
}

footer {
    flex-shrink: 0;
    padding: 10px;
    text-align: center;
    background-color: rgba($color: rgb(23, 16, 56), $alpha: 0);
    mix-blend-mode: multiply;
    color: whitesmoke;
}

// buttonsssss
.logout-btn, .login-btn, .signup-btn {
    // border: 1px solid white;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    width: 100px;
    height: 30px;
}

.logout-btn:hover, .login-btn:hover, .signup-btn:hover {
    // background-color:  rgba(255, 255, 255, .5);
    background-color:  rgba(0, 0, 0, 1);
    color: white;

}


.nav-link:hover {
    
    border: 1px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    // transition: all .3s ease-out;

    
}

