// Place all the styles related to the musos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green: #88D498;

.page-title {
    display: block;
}

.test-blend {
    width: 100%;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.muso-content {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    color: white;
    // box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);

    
}

.muso-header {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    margin-bottom: 10px;

}

h2 {
    font-weight: 700;
    margin-bottom: 10px;
    color: whitesmoke;
}

.muso-gallery {
    text-align: center;
    margin: 30px -20px 10px -20px;
    display: flex;
    justify-content: center;
}

.contact-muso-btn {
    border: none;
    // background-color: #85FFC7;
    background-color: #0072BB;
    // color: #141414;
    color: whitesmoke;
    width: 120px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
}

.contact-muso-btn:hover {
    background-color: #1E91D6;
}

.muso-embed {
    text-align: center;
}

.arrow-left, .arrow-right {
    width: 50px;
    // background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    font-size: 2.5em;
}



.stars {
    color: #F4F1BB;
    font-size: .8em;
    text-shadow: 0 10px 6px -6px rgb(60, 45, 132);
}

// ------------------

.wrap
{
  margin: 20px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  flex-wrap: wrap;
  justify-content: center;
  max-width:960px;
}

.tile
{
  width:300px;
  height:150px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  background-image: url('https://source.unsplash.com/random/300x300');
//   padding: 10px;
  border: 3px solid white;
  
}

.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;

}

.tile .text {
    background-color: rgba(0,0,0,0.44);
    padding: 10px;
    
}

.page-title-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    max-width: 960px;
}

.filler1 {
    width: 300px;
    height: 50px;
    // margin: 10px;
    
}

.filler {
    width: 300px;
    height: 1px;
    margin-left: 10px;
    margin-top: -10px;
}

.h1-muso {
    margin: 0;
    margin-left: 5px;
    color: white;
    font-size: 2em;
}

// tag edit stuff
.cross-btn {
    display: inline;
    background-color: grey;
    border: none;
    vertical-align: middle;
    font-size: .9em;
    cursor: pointer;
    color: #141414;
}

.form-inline {
    display: inline;
}


.tags-flex {
    margin: 30px 0;
}

.tag-btn-edit {
    display: inline-block;
    background-color: grey;
    padding: 5px 10px;
    padding-right: 0px;
    border-radius: 3px;
    margin: 5px;
}

.save-tag-btn {
    border: none;
    display: inline;
    background-color: #0072BB;
    width: 160px;
    height: 31px;
    color: whitesmoke;
    font-size: 1em;
    vertical-align: top;
}

.tag-input {
    display: inline;
    width: 200px;
    height: 30px;
    border: 2px solid #FFE74C;
    // margin: 0 auto;
    padding: 10px;
    font-size: .8em;
    background-color: #F8FFE5;
}
