// Place all the styles related to the musos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
  

$green: #88D498;

.page-title {
    display: block;
}

.test-blend {
    width: 100%;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.muso-content {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    // border: 2px solid white;
    // background-color: rgba(35, 35, 58, 0.6);
    // background-color: rgba(255, 255, 255, 0.7);
    // background-color: white;
    color: white;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    // border-radius: 10px;
    
}

.muso-header {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    margin-bottom: 10px;

}

h2 {
    font-weight: 700;
    margin-bottom: 10px;
    color: whitesmoke;
}

.muso-gallery {
    text-align: center;
    margin: 30px -20px 10px -20px;
    display: flex;
    justify-content: center;
}

.contact-muso-btn {
    border: none;
    background-color: $green;
    width: 120px;
    height: 40px;
    font-size: .8em;
    // border-radius: 3px;
    // -webkit-box-shadow: 0 10px 6px -6px rgba(110, 127, 144, .5);
    // -moz-box-shadow: 0 10px 6px -6px rgba(110, 127, 144, .5);
    // box-shadow: 0 10px 6px -6px rgba(110, 127, 144, .5);
    color: $color5;
    border: 1px solid green;
}

.muso-embed {
    text-align: center;
}

.arrow-left, .arrow-right {
    width: 50px;
    // background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    font-size: 2.5em;
}



.stars {
    color: #F4F1BB;
    font-size: .8em;
    text-shadow: 0 10px 6px -6px rgb(60, 45, 132);
}

// ------------------

.wrap
{
  margin: 20px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  flex-wrap: wrap;
  justify-content: center;
  max-width:960px;
}

.tile
{
  width:300px;
  height:200px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  background-image: url('https://source.unsplash.com/random/300x300');
//   padding: 10px;
  border: 3px solid white;
  
}

.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;

}

.tile .text {
    background-color: rgba(0,0,0,0.44);
    padding: 10px;
    
}

.page-title-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    max-width: 960px;
}

.filler1 {
    width: 300px;
    height: 50px;
    // margin: 10px;
    
}

.filler {
    width: 300px;
    height: 1px;
    margin-left: 10px;
    margin-top: -10px;
}

.h1-muso {
    margin: 0;
    margin-left: 5px;
    color: white;
    font-size: 2em;
}