* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
}
  
h1,
h2, 
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}
  
h1,
h2,
h3,
h4 {
    font-size: inherit;
}
  
a,
button {
    color: inherit;
    transition: 0.3s;
}
  
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
  
a {
    text-decoration: none;
}