

<div class="left-nav">
  <li class="nav-link menu__item menu__item--current"><a class="menu__link" href='#'>browse musos</a></li>
  <li class="nav-link menu__item"><a class="menu__link" href='#'>about us</a></li>
</div>
<div class="home-nav">
  <a href='/'>
    <div class="logo">
      <div class="upper-fret">
        <span class="social-text">Social</span>
        <div class="upper-fret-detail"></div>
      </div>
      <div class="lower-fret">
        <span class="fretwork-text">Fretwork</span>
        <div class="lower-fret-detail"></div>
      </div>
    </div>
  </a>
</div>
<div class="right-nav">
  <li class="nav-link menu__item"><a class="menu__link" href='#'>be a muso</a></li>
